1.	Peter is driving a car at a speed of 25 kilometers per hour. Calculate the distance covered by him in 4 hours

In [1]:
speed = 25
time = 4
distance = speed*time
print(distance)

100

2.	The output of the operation print(5/2) in Python 3 will be

In [2]:
print(5/2)

2.5

In [3]:
print(type(distance))

<class 'int'>

In [4]:
a = 5/2
print(type(a))

<class 'float'>

3.	Sam deposited $5, 000 in a bank having 10% annual simple interest rate. How much interest will Sam earn in 4 years?

In [19]:
principle = 5000
interest_rate = 10
time = 4
interest = (principle*interest_rate*time)/100
print("The interest is :" +  str(interest))

The interest is :2000.0

4.	Calculate area of a square having one side as 4 cm

In [8]:
side = 4
area = side**2
print(area)

16

In [ ]:
5.	According to the rules of operator precedence, the output of the code print(1 + 2 ** 3 // 4 * 5) will be

In [9]:
print(1 + 2 ** 3 // 4 * 5)

11

In [12]:
2//3

0

9.	Create a new string, gender, with the value "male" Create a new boolean, is_obese, with the value False

In [15]:
gender = "male"
is_obese = False
print(is_obese)

False

10.	When we run the code print("game" + 1) the output will be

In [16]:
print("game" + 1)

TypeError: ignored

In [17]:
print("game"+ str(1))

game1

In [22]:
my_str = "helloworld"
min_str = max(my_str)
print(min_str)

w

In [27]:
sl_str = my_str[-1]
print(sl_str)

d

13.	Create a function pay_calculator which will calculate the payment to be made to an employee
The function will take 2 arguments; hours, and rate, in that order
If the hours are less than or equal to 40, then the payment will be a product of the hours and rate
If the hours are greater than 40, then till the 40th hour the payment will be calculate as a product of the hours and rate variables. Beyond the 40th hour, the rate will be 1.5 times that of the original rate variable
The function will finally computer the total pay, save it in a variable named total_pay and will return the same
Finally, test the function with the following values: hours = 45, and rate = 10
The output for the above values should be 475.0

In [36]:

def insentive_cal(total_pay):
  insentive = (total_pay*6)/100
  return insentive

def pay_calculator1(hours, rate):
  total_pay = hours*rate
  if(total_pay>7000):
    insentive = insentive_cal(total_pay)
    total_pay = total_pay + insentive
  return total_pay

pay = pay_calculator1(40,200)
print(pay)

8480.0